@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bodoni+Moda:opsz@6..96&family=Cardo&family=Gilda+Display&family=IBM+Plex+Serif:wght@300&family=PT+Sans&family=Playfair+Display&family=Titillium+Web&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1, h2, h4,  h5, h6 {
        font-family: 'IBM Plex Serif', serif;
  }
  header, h3{
    font-family: 'Playfair Display', serif;
  }
  p, a, button, span{
    font-family: 'PT Sans', sans-serif;
  }
}


.bounce{
    animation: movement 3s infinite 1s ease-in-out;
}
@keyframes movement{
    0%{
        transform: translateX(0);
    }
    60%{
        transform: translateX(8px);
    }
    100%{
        transform: translateX(12px);
    }
}